<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- DEPENDENCY -->
<bean id="main-engine" class="org.kol.SetterInjectionApp.Engine">

<property name="engineNumber" value="1097"></property>
<property name="engineType" value="Petrol"></property>
<property name="engineModel" value="X15 Productivity Series "></property>
</bean>

<!-- Implementaion Logic for BMW -->

<bean id="bmw" class="org.kol.SetterInjectionApp.BmwImpl">
<property name="carNumber" value="2500"></property>
<property name="color" value="Blue"></property>
<property name="wheels">
<list>
<value>Wheel1</value>
<value>Wheel2</value>
<value>Wheel3</value>
<value>Wheel4</value>
</list> 
</property>
<property name="engine" ref="main-engine"></property>
</bean>

<!-- Implementaion Logic for AUDI -->
<bean id="audi" class="org.kol.SetterInjectionApp.AudiImpl"></bean>

</beans>